# PostgreSQL
POSTGRES_PASSWORD=CHANGEME_POSTGRES_PASSWORD
POSTGRES_USER={{ cookiecutter.project_slug }}

# General settings
DJANGO_ADMIN_URL=aa/
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=CHANGEME_SECRET_KEY
DJANGO_ALLOWED_HOSTS=*

# Used with email
DJANGO_MAILGUN_API_KEY=
DJANGO_SERVER_EMAIL={{ cookiecutter.project_slug }} <noreply@mg.{{ cookiecutter.domain_name }}>

# django-allauth
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True

DJANGO_SENTRY_DSN=
NEW_RELIC_LICENSE_KEY=

PINAX_STRIPE_PUBLIC_KEY=
PINAX_STRIPE_SECRET_KEY=

MAILCHIMP_API_KEY=
MAILCHIMP_LIST=

OCTOBAT_PRIVATE_KEY=
OCTOBAT_PUBLIC_KEY=
