{% raw %}{% extends "blank_base.html" %}

{% load i18n crispy_forms_tags %}

{% block title %}Request Invite{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-10 col-sm-offset-1">
      <div class="heading">
        <h1 class="text-center">Request Invite</h1>
      </div>

      <p class="text-center">We are currently in private beta. Fill out the form below to request an invite.</p>

      {% crispy form %}
    </div>
  </div>
{% endblock %}{% endraw %}

