{% raw %}{% extends "blank_base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-10 col-sm-offset-1">
      <div class="heading">
<h1 class="text-center">{% trans "Sign In" %}</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p class="text-center">{% blocktrans %}Don't have an account? Please
<a href="{{ signup_url }}">sign up</a>.{% endblocktrans %}</p>
{% endif %}
</div>
<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <button class="primaryAction btn btn-primary pull-right" type="submit">{% trans "Sign In" %}</button>
</form>
</div>
  </div>
{% endblock %}{% endraw %}

