{% raw %}{% extends "blank_base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-10 col-sm-offset-1">
      <div class="heading">
    <h1 class="text-center">{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class="text-center">Enter your email address below and we'll send you instructions how to reset it.</p>
    </div>
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-primary" value="Reset Password" />
    </form>

  </div>
  </div>
{% endblock %}{% endraw %}

