{% raw %}{% extends "app/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
  <ol class="breadcrumb">
    <li><a href="#">Settings</a></li>
    <li class="active">Change Password</li>
  </ol>




  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="box">
        <div class="box-title">
          Change Password
        </div>
        <div class="box-content">
          <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary" type="submit"
                name="action">{% trans "Change Password" %}</button>
      </form>
        </div>
      </div>

    </div>
  </div>

{% endblock %}{% endraw %}

