{% raw %}{% extends "blank_base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-10 col-sm-offset-1">
      <div class="heading">
      <h1 class="text-center">{% trans "Sign Up" %}</h1>

      <p class="text-center">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>
        .{% endblocktrans %}</p>
      </div>
      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}"
                 value="{{ redirect_field_value }}"/>
        {% endif %}
        <button class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
      </form>
    </div>
  </div>
{% endblock %}{% endraw %}

